<div class="navbar navbar-inverse navbar-fixed-top navbar-owlyst" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topbar_logo" href="#"> Owlyst</a>
    </div>
    <div class="navbar-collapse collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">My Lists</a></li>
        <li><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="topbar_icon"><i class="glyphicon glyphicon-white glyphicon-home"></i></a></li>
        <li><a href="#" class="topbar_icon"><i class="glyphicon glyphicon-white glyphicon-cog"></i></a></li>
        <% if current_user %>
          <li><a href="#"><%= current_user.name %></l>
            <li><a href="/logout">Log out</l>
        <% else %>
          <li><a href="/signup">Sign up</a></li>
        <% end %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>